section.l-header__main
  h1.l-header__main__heading.slide
    | 体型が変われば、人生が変わる
  a.l-header__main__btn
    | ジャンルから選ぶ
section.category
  section.category__contents
    = link_to '/food' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/food.jpg"]
        h3.category__contents__content__heading
          | Food
    = link_to '/drink' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/drink.jpg"]
        h3.category__contents__content__heading
          | Drink
    = link_to '/sweets' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/sweets.jpg"]
        h3.category__contents__content__heading
          | Sweets
    = link_to '/suporters' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/suporter.jpg"]
        h3.category__contents__content__heading
          | Suporter
    = link_to '/equipments' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/equipment.jpg"]
        h3.category__contents__content__heading
          | Equipment
    = link_to '/others' do
      .category__contents__content
        img.category__contents__content__image[src="/category_images/others.jpg"]
        h3.category__contents__content__heading
          | Others
