// Place all the styles related to the goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'mixin';
@import 'parts';


// 商品検索部分
.goods-search{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__texts{
    text-align: center;

    &__text{
      margin: 0;
    }
  }

  .input{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyword{
    @include newBox;
    margin: 20px 0 50px;
  }
  
  .search-btn{
    border: none;
    color: $white;
    background: $pink;
    padding: 10px 0;
    width: 50%;
    border-radius: 50px;
  }
}


// 商品検索結果
.search-result{
  width: 100%;
  margin:50px 0;
  text-align: center;

  &__text{
    margin: 0;
  }

  &__genre{
    font-size: 20px;
  }
}
