// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import "parts";
@import "mixin";

// index全体部分
.index{
  width: 1100px;
  margin: 0 auto ;
  display: grid;
  grid-template-rows: repeat(5,400px);
  grid-template-columns: repeat(4, 240px);
  gap: 40px;
  transition: 1s;
  opacity: 0;
  transform: translateY(-70px);
  @include media(1100px){
    width: 900px;
    grid-template-rows: repeat(5,350px);
    grid-template-columns: repeat(4, 200px);
    gap:30px;
  }
  @include media(900px){
    width: 768px;
    grid-template-rows: repeat(10,450px);
    grid-template-columns: repeat(3, 240px);
    gap:18px;
  }
  @include media(768px){
    width: 700px;
    grid-template-rows: repeat(10,400px);
    grid-template-columns: repeat(3, 220px);
    gap:20px;
  }
  @include media(414px){
    width: 375px;
    grid-template-rows: repeat(30,480px);
    grid-template-columns: repeat(1, 350px);
    gap:0px;
  }
  @include media(375px){
    width: 350px;
    grid-template-rows: repeat(30,500px);
    grid-template-columns: repeat(1, 350px);
    gap:0px;
  }

  // index出現(javascriptを用いて)
  &.active{
    opacity: 1;
    transform: translateY(0px);
  }
}


// 順位部分
.ranks{

  &__rank{
    margin: 0;
    color: $red;
    font-size: 20px;
  }

  &__i{
    font-size: 15px;
  }
}


// 各商品部分
.index__contents__content{
  
  // 商品画像
  &__images{
    width: 240px;
    height: 200px;
    padding: 10px;
    text-align: center;
    background: $whiteGray;
    border-radius: 5px 5px 0 0;
    @include border;
    @include media(1100px){
      width: 200px;
      height: 160px;
    }
    @include media(900px){
      width: 230px;
      height: 220px;
    }
    @include media(768px){
      width: 210px;
      height: 200px;
    }
    @include media(414px){
      width: 350px;
      height: 240px;
    }
    @include media(375px){
      width: 330px;
      height: 240px;
    }

    &__image{
      width: 220px;
      height: 200px;
      transition: .3s;
      @include media(1100px){
        width: 180px;
        height: 160px;
      }
      @include media(900px){
        width: 230px;
        height: 220px;
      }
      @include media(768px){
        width: 210px;
        height: 200px;
      }
      @include media(414px){
        width: 250px;
        height: 240px;
      }
      

      &:hover{
        opacity: 0.6;
      }
    }
  }

  // 商品情報(商品名、価格、レビュー)
  &__texts{
    width: 240px;
    height: 130px;
    padding: 10px;
    background: $white;
    border-radius: 0 0 5px 5px;
    border: {
      right: 1px solid rgba($color: $gray, $alpha: 0.2);
      left: 1px solid rgba($color: $gray, $alpha: 0.2);
      bottom: 1px solid rgba($color: $gray, $alpha: 0.2);
    }
    @include media(1100px){
      width: 200px;
      height: 110px;
    }
    @include media(900px){
      width: 230px;
      height: 130px;
    }
    @include media(768px){
      width: 210px;
      height: 130px;
    }
    @include media(414px){
      width: 350px;
      height: 135px;
    }
    @include media(375px){
      width: 330px;
      height: 140px;
    }

    // 商品名
    &__text{
      font-weight: normal;
      font-size: 13px;
      height: 40px;
      color: $blue;
      @include media(1100px){
        font-size: 11px;
      }
      @include media(900px){
        font-size: 12px;
      }
      @include media(414px){
        font-size: 16px;
      }
    }

    // 価格+レビュー(CSS調整)
    .price_review{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      @include media(1100px){
        margin-top: 30px;
      }
      @include media(900px){
        margin-top: 45px;
      }
    }

    // 価格
    &__price{
      font-size: 13px;
      color: $red;
      @include media(1100px){
        font-size: 10px;
      }
    }
    
    // 円
    .fee{
      font-size: 20px;
      @include media(1100px){
        font-size: 16px;
      }
      @include media(900px){
        font-size: 18px;
      }
      @include media(414px){
        font-size: 20px;
      }
    }


    // レビュー
    &__review{
      font-size: 18px;
      color: $yellow;
      @include media(1100px){
        font-size: 14px;
      }
      @include media(900px){
        font-size: 16px;
      }
      @include media(414px){
        font-size: 18px;
      }
    }

    // MAXレビュー(?/5)
    .reviewMax{
      font-size: 10px;
    }
  }
}



// ページネーション 
.pagination{
  list-style: none;
  // display: flex;
  padding: 0;
  margin: 70px auto 20px;
  width: 1100px;
  @include media(1100px){
    width: 900px;
  }
  @include media(900px){
    width: 768px;
  }
  @include media(768px){
    width: 700px;
  }
  @include media(414px){
    width: 375px;
  }
  @include media(375px){
    width: 350px;
  }
}

.page.current{
  padding: 6px 12px;
  background: $blue;  
  display: inline-block;    
  border-radius: 50%;  
  color: $white;
}

.page>a{
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
  
  &:hover{
    border-radius: 50%;    
  }
}
.next>a{
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
  
  &:hover{
    border-radius: 50%;    
  }
}
.last>a{
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
  
  &:hover{
    border-radius: 50%;    
  }
}
.prev>a{
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
  
  &:hover{
    border-radius: 50%;    
  }
}
.first>a{
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
  
  &:hover{
    border-radius: 50%;    
  }
}



.pagination>li>a {            
  color: $gray;  
  display: inline-block; 
  padding: 6px 12px;
  background: $white;
  transition: .4s;
  border-radius: 1px;
}


.pagination>.current>.page {     
  background: $blue;     
  border-radius: 50%;  
  color: $white;   
}




// 商品詳細(show)
.show{
  width: 1200px;
  margin: 0 auto ;
  padding: 50px;
  @include media(1250px){
    width: 1100px;
  }
  @include media(1100px){
    width: 900px;
  }
  @include media(900px){
    width: 768px;
  }
  @include media(768px){
    width: 700px;
  }
  @include media(414px){
    width: 375px;
    padding:50px 0 0;
  }
  @include media(375px){
    width: 360px;
  }

  // 商品情報(商品名、価格、レビュー、商品説明)
  &__contents{
    margin-top: 100px;
    display: flex;
    padding: 50px;
    border-radius: 5px;
    @include border;
    @include media(900px){
      display: block;
    }
    @include media(414px){
      padding: 10px;
    }

    // 画像
    &__images{
      @include center;
      @include media(900px){
        text-align: center;
      }

      &__image{
        width: 300px;
        @include media(900px){
          width: 400px;
        }
        @include media(414px){
          width: 340px;
        }
        @include media(375px){
          width: 330px;
        }
      }
    }

    // 商品名
    &__texts{
      width: 800px;
      margin-left: 50px;
      @include media(900px){
        margin: 0;
        width: 666px;
      }
      @include media(768px){
        width: 600px;
      }
      @include media(414px){
        width: 350px;
      }
      @include media(375px){
        width: 340px;
      }

      &__heading{
        margin: 0;
        font-size: 20px;
        @include media(1250px){
          font-size: 16px;
        }
        @include media(900px){
          font-size: 20px;
          margin-top: 20px;
        }
      }

      // 価格+レビュー(CSS調整)
      .price_review{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include media(1250px){
          margin: 0;
        }
      }

      // 価格
      &__price{
        color: $red;
      }

      // 送料無料
      .send-fee{
        color: $red;
        margin-left: 10px;
        font-weight: bold;
      }

      // 円
      .fee{
        font-size: 25px;
      }

      // レビュー
      &__review{
        color: $yellow;
        font-size: 22px;
      }
      .reviewMax{
        font-size: 13px;
      }

      // お気に入り機能
      &__favorite{
        font-size: 20px;
        cursor: pointer;
      }

      .favorite-button{
        border: none;
        background: none;
      }

      .fa-thumbs-up{
        color: $pink;
      }

      // 商品説明
      &__info{
        font-size: 14px;
        @include media(1250px){
          font-size: 12px;
        }
        @include media(900px){
          font-size: 14px;
        }
      }
    }
  }
}


// 商品の楽天リンク
.rakuten{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  &__btn{
    color: $white;
    background-color: $red;
    @include btn(400px,100px);
    @include media(414px){
      @include btn(375px,100px);
    }
    @include media(375px){
      @include btn(350px,100px);
    }
  }
  
}

// indexに戻るボタン
.return{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
  
  &__btn{
    color: $white;
    background-color: $whiteblue;
    @include btn(400px,100px);
    @include media(414px){
      @include btn(375px,100px);
    }
    @include media(375px){
      @include btn(350px,100px);
    }
  }
}
