// Place all the styles related to the training controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "parts";
@import "mixin";

// トレーニング全体
.index{
  width: 1100px;
  margin: 70px auto 70px;

  @include media(1100px){
    width: 900px;
  }
  @include media(900px){
    width: 768px;
  }
  @include media(768px){
    width: 700px;
  }
  @include media(414px){
    width: 375px;
  }
  @include media(375px){
    width: 350px;
  }
}

.training-contents_header{
  display: flex;
  justify-content: space-between;
}

.heading{
  color: rgba($color: $gray, $alpha: 0.7);
  font-size: 35px;
  font-weight: normal;
}

.training-contents_heading_content{
  font-size: 45px;
  color: #000;
  margin: 0;
}

.training-contents_text_content{
  font-size: 13px;
}



// トレーニングカレンダー
.calender{
  color: #000000;
  font-size: 30px;
}


// 「NEW CREATE」ボタン
.training-contents_btn{
  text-align: center;
  margin: 20px 0 40px;
}

.new-btn{
  background-color: $whiteblue;
  color: $white;
  display: inline-block;
  width: 200px;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.3);
  transition: .5s;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    position: relative;
    box-shadow: none;
    top: 3px;
  }
}



// トレーニングリスト
table{
  width: 100%;
  border-spacing: 0 10px;
}

th{
  @include media(414px){
    font-size: 13px;
  }
}


td{
  text-align: center;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.3);

  @include media(900px){
    font-size: 15px;
  }
  @include media(768px){
    font-size: 14px;
  }
  @include media(414px){
    font-size: 12px;
  }
}

.state{
  color: $white;
  width: 120px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.3);

  @include media(900px){
    width: 100px;
    height: 15px;
    line-height: 15px;
  }
  @include media(768px){
    width: 90px;
    font-size: 13px;
  }
  @include media(414px){
    width: 70px;
    font-size: 12px;
  }
}

.tasks{
  color: #000;
}

.contents_none{
  @include media(414px){
    display: none;
  }
}

.complete{
  background-color: $whiteblue; 
}
.incomplete{
  background-color: $delete_red;
}

.complete-btn{
  color: $whiteblue;
  margin: 0 0 0 5px;
  font-size: 30px;
  @include media(900px){
    font-size: 27px;
  }
}

.search{
  margin: 40px 0 0;
  display: flex;
  gap: 50px;
}
.search_state{
  color: #000;
  
}


// トレーニング新規登録
.form_class{
  display: flex;
  flex-direction: column;
}

label{
  padding: 10px 0;
}

#tasks{
  height: 50px;
}
#content{
  height: 100px;
}
#tasks{
  height: 50px;
}

#limit{
  height: 50px;
}

.show-btn{
  color: $white;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 0;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: 0.3);
}


.submit{
  border: none;
  margin: 50px 0 0;
  background-color: $blue;
}

.show-btns{
  display: flex;
  flex-direction: column;
}

.show_delete{
  background-color: $delete_red;
}